.card {
  background-color: var(--bg-black-gradient);
  max-width: 41.2rem;
  min-width: 32.7rem;
  border-radius: 3rem;
  padding: 3.2rem;
}

.textCenter {
  text-align: center;
}

@media (max-width: 450px) {
  .card {
    border-radius: 1.5rem;
    padding: 2.4rem;
  }
}
