.title {
  font-size: var(--title-desktop);
  color: var(--text-white);
  margin-bottom: 0.7rem;
}

.paragraph {
  margin-bottom: 2.4rem;
  font-size: var(--text-desktop);
  font-size: 1.5rem;
  color: var(--text-light-grey);
  line-height: 2.2rem;
}

.feedbackWrapper {
  margin: 0 auto;
  margin-bottom: 3.2rem;
  height: 3.2rem;
  background-color: var(--bg-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 193px;
  border-radius: 2rem;
  font-size: var(--text-desktop);
}

.feedbackText {
  color: var(--accent-orange);
  background-color: var(--bg-dark-blue);
  max-width: 19.3rem;
}

.paymentImg {
  margin-bottom: 3.2rem;
}

@media (max-width: 450px) {
  .title {
    font-size: var(--title-mobile);
    margin-bottom: 1.7rem;
  }

  .paragraph {
    font-size: var(--text-mobile);
    margin: 0;
  }

  .feedbackWrapper {
    margin-bottom: 2.4rem;
    font-size: var(--text-mobile);
  }

  .paymentImg {
    margin-bottom: 2.4rem;
  }
}
